<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <!-- Session configuration -->
    <session-config>
        <session-timeout>
            30 <!-- Time in minutes to expire after the last request -->
        </session-timeout>        
        <cookie-config>
                <http-only>true</http-only> <!-- Prevent client side scripting from accessing/manipulating session cookie. -->
                <secure>false</secure> <!-- true to force send over TLS connection -->
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode> <!-- This disables URL rewriting. -->
    </session-config>

    <!-- Creation of Datasource in Application Server -->

    <data-source>
        <name>java:global/jdbc/gestClub</name>
        <class-name>org.apache.derby.jdbc.ClientConnectionPoolDataSource</class-name>        
        <server-name>localhost</server-name>
        <port-number>1527</port-number>
        <database-name>club</database-name>
        <user>dawuser1</user>
        <password>dawuser1</password>                                
        <initial-pool-size>2</initial-pool-size>
        <max-pool-size>10</max-pool-size>
        <min-pool-size>5</min-pool-size>
    </data-source>


    <!-- Realm Access Rules -->
    <!--  Remove comments to enable authentication&authorizatio -->        
    <!--
        <security-constraint>
            <display-name>CLIENTE</display-name>
            <web-resource-collection>
                <web-resource-name>cliente</web-resource-name>
                <url-pattern>/clientes/*</url-pattern>
            </web-resource-collection>
            <auth-constraint>
                <role-name>USUARIOS</role-name>
                <role-name>ADMINISTRADORES</role-name>
            </auth-constraint>
      </security-constraint>
    -->
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/WEB-INF/login.jsp</form-login-page>
            <form-error-page>/WEB-INF/login.jsp?error=true</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>USUARIOS</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>ADMINISTRADORES</role-name>
    </security-role>
        
    <!--
        <resource-ref>
          <description>DB Connection</description>
          <res-ref-name>jdbc/gestClub</res-ref-name>
          <res-type>javax.sql.DataSource</res-type>
          <res-auth>Container</res-auth>
      </resource-ref>
    -->  
    <!-- Disable custom error page
        <error-page>
            <location>/error.jsp</location>
        </error-page>
    -->

</web-app>
